@charset "UFF-8";

* {
  padding: 0;
  margin: 0;
}

.box-img{
  box-sizing: border-box;
  padding: 29px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.box-img img {
    object-fit: cover;
    width: 50%;
    height: 30%;
}
.box-caixa{
    width: 30%;
    height: 50%;
    background-color: gray;
    display: flex;
}
.box-caixa h1{
    flex-direction: column;
    
}

.box-caixa p {
    flex-direction: column;
}